.idea/
.vscode/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/vendor/
composer.phar

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/coverage/
/.nyc_output/

*.php~
.phpunit.result.cache
